.status-card-container {
  margin: auto;
  box-shadow: 0px 0px 2px 0px;
  background-color: white;
  justify-content: left;
  width: 600px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.status-box-and-profile-picture {
  display: flex;
  margin: 0px 0px 12px;
  padding: 12px 16px 0px;
  border-bottom: 1px solid gray;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  input {
    margin: 0 12px 
  }
}

.upload-links {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #65676B;
  .link {
    width: 33%;
    border-radius: 10px;
  }
  .link:hover {
    background-color: gray;
  }
}
