.home-left-section-container {
  width: 30%;
  background-color: rgba($color: #8b0000, $alpha: 0.5);
}

.home-right-section-container {
  width: 30%;
  background-color: rgba($color: #8b0000, $alpha: 0.5);
}

.home-middle-section-container {
  width: 40%;
  background-color: rgba($color: #0000ff, $alpha: 0.5);
}